{% extends "Gsb/layout.html.twig" %}

{% block content %}
    <h1>
        Consulter une fiche de frais
    </h1>
    <hr>
    {% if form is defined %}
        {{ form(form) }}
    {% else %}
        <div class="alert alert-danger"><i class="fa fa-info-circle"></i> Aucune fiche n'est disponible pour le moment</div>
    {% endif %}
    {% if fiche is defined %}
        <hr>
         <table class="table-tarifs table-bordered table-striped">
             <tr>
                 <th>id</th>
                 <th>Date</th>
                 <th>Nombre de justificatifs</th>
                 <th>Montant Validé</th>
                 <th>Dernière modification</th>
                 <th>Etat</th>
             </tr>
             <tr>
                 <td>{{ fiche.id }}</td>
                 <td>{{ fiche.mois }}</td>
                 <td>{{ fiche.nbJustificatifs }}</td>
                 <td>{{ fiche.montantValide }}</td>
                 <td>{{ fiche.dateModif|date('d M Y') }} à {{ fiche.dateModif|date('m:s') }}</td>
                 <td>{{ fiche.idEtat.libelle }}</td>
             </tr>
         </table>
    {% endif %}
    {% if ligneF is defined and ligneF|length > 0 %}
        <hr>
        <table class="table-bordered table-tarifs table-striped ">
            <tr>
                {% for ligneTr in ligneF %}
                    <th>{{ ligneTr.idFraisForfait.libelle }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for ligne in ligneF %}
                    <td>{{ ligne.quantite }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}<hr>
    {% if ligneHF is defined and ligneHF|length > 0 %}
        <table class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant en €</th>
                <th>Validation</th>
            </tr>
            {% for ligne in ligneHF %}
                <tr>
                    <td>{{ ligne.date|date("d M Y") }}</td>
                    <td>{{ ligne.libelle }}</td>
                    <td>{{ ligne.montant }}</td>
                    <td>
                        {% if fiche.idEtat.id != 2 and fiche.idEtat.id != 1 %}
                            {% if ligne.refuser == 1 %}
                                <i class="fa fa-times" style="color: red;"></i>
                            {% else %}
                                <i class="fa fa-check" style="color:green;"></i>
                            {% endif %}
                        {% else %}
                            Non traité
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}