{% extends "Gsb/layout.html.twig" %}

{% block content %}
    {% if app.user.username is defined %}
        <h1>Vous êtes connecté {{ app.user.username }}</h1><hr>
    {% else %}
        <h1> Bienvenue sur le suivi de frais GSB</h1><hr>
        <p>
            Avant toutes choses, petite doc.<br>
            Cette application va vous permettre de déclarer vos frais mensuels, et à la comptabilité de l'entreprise de vous rembourser.<br>
            Si ce n'est pas encore fait, inscrivez vous sur l'application en cliquant sur le lien Inscription disponible dans le menu de gauche.<br>
            Sinon connectez vous grâce au formulaire de connexion en haut de l'application en renseignant votre pseudo et votre mot de passe
        </p>
        <hr>
        <h3>Une fois inscrit vous aurez accès aux pages suivantes</h3>
        <ul>
            <li>"Accueil" = Des notifications sur l'état de vos fiches de frais sont disponibles sur l'accueil</li>
            <li>"Votre profil" = afin de gérer votre adresse email et votre pseudonyme ou nom prénom de préférence</li>
            <li>"Saisie fiche de frais" = Cette page vous permet de renseigner votre fiche de frais du mois courrant</li>
            <li>"Mes fiches de frais" = Cette page vous permet d'avoir accès aux archives de vos fiches de frais ainsi que de leur status</li>
        </ul>
        <hr>
        <h3>Comptabilité</h3>
        <ul>
            <li>Si vous disposez d'un accès comptable vous aurez accès aux pages de la partie comptabilité afin d'administrer les fiches des salariés</li>
        </ul>
        <hr>
        <h3>Compte de test</h3>
        Vous pouvez tester l'application à l'aide des identifiants suivants:<hr>
        <div class="row">
            <div class="col-lg-4">
                <h4>Accès utilisateur normal</h4>
                Pseudo: Guillaume<br>
                Pass: test
            </div>
            <div class="col-lg-4">
                <h4>Accès comptable</h4>
                Pseudo: Comptable<br>
                pass: test
            </div>
        </div>
    {% endif %}
    {% if app.user.username is defined %}
        <div class="alert-success alert">
            Bienvenue dans votre espace d'adminitration du suivi du remboursemment des frais GSB
        </div>
        <hr>
        <h3>Taux actuel des remboursements par frais forfait</h3>
        <table class="table-bordered table-tarifs table-striped">
            <tr>
                {% for fraisLibelle in listFraisForfait %}
                     <th>{{ fraisLibelle.libelle }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for fraisMontant in listFraisForfait %}
                    <th>{{ fraisMontant.montant }} €</th>
                {% endfor %}
            </tr>
        </table>
        {% if ficheF is defined and ficheF is not null %}
            <hr>
            <div class="alert-info alert">
                <i class="fa fa-info-circle"></i> Votre fiche de frais du mois <strong>{{ ficheF.mois }}</strong> est dans l'état suivant: <strong>{{ ficheF.idEtat.libelle }}</strong> {% if ficheF.idEtat.id == 4 or ficheF.idEtat.id == 3 %}- montant: <strong>{{ ficheF.montantValide }} €</strong>{% endif %}
            </div>
            <hr>
            {% if ficheF.idEtat.id == 5 %}
                <div class="alert alert-danger">
                    Attention: votre fiche du mois précédent a été traité et est <strong>SUSPENDU</strong>, veuillez verifier votre fiche et contacter votre comptabilité
                </div>
            {% endif %}
            {% if listFhf is defined and listFhf|length > 0 %}
                {% for ligne in listFhf %}
                    {% if ligne.refuser == 1 %}
                        <div class="alert alert-danger">
                            Attention: Un de vos frais déclarés hors forfait a été refusé, pour plus de renseignements contactez la comptabilité.<br>
                            Date: <strong>{{ ligne.date|date('d M Y') }}</strong> - Libellé: <strong>{{ ligne.libelle }}</strong> - Montant: <strong>{{ ligne.montant }} €</strong>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}