{% extends "Gsb/layout.html.twig" %}

{% block content %}
    <h3>Renseigner ma fiche de frais du mois {{ "now"|date("M Y") }} </h3>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    <h4>Eléments forfaitisés</h4>
    {% if ligneForfait|length > 0 %}
        <table class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Forfait Etape</th>
                <th>Frais Kilometrique</th>
                <th>Nuitée Hôtel</th>
                <th>Repas Restaurant</th>
            </tr>
            <tr>
                {% for fiche in ligneForfait %}
                    <td>{{ fiche.quantite }} {{ fiche.idFraisForfait.libelle }}</td>
                {% endfor %}
            </tr>
        </table>
        <hr>
    {% endif %}

    {{ form(form) }}
    <span class="clearfix"></span>
    <hr>
    <h4>Eléments hors forfait</h4>
    {{ form(formHF) }}
    <span class="clearfix"></span>
    <hr>
    {% if ligneHorsForfait|length > 0 %}
        <table class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant en €</th>
                <th>Supprimer</th>
            </tr>
                {% for ligne in ligneHorsForfait %}
                    <tr>
                        <td>{{ ligne.date|date("d M Y") }}</td>
                        <td>{{ ligne.libelle }}</td>
                        <td>{{ ligne.montant }}</td>
                        <td>
                            <form method="post" name="supprimer_hors_forfait">
                                <input type="hidden" name="supprimer_hors_forfait" value="{{ ligne.id }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <hr>
    {% endif %}
{% endblock %}