{% extends "Gsb/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock content %}
