{% extends "Gsb/layout.html.twig" %}

{% block content %}
    <h1>Inscription sur le suivi des frais GSB</h1>
    <hr>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
