<!DOCTYPE html>
<html>
<head>
    <title>GSB projet en Symfony</title>
    <link href="{{ asset('bundles/gsb/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/gsb/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/gsb/awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
</head>
<body style="background-color: #006699;">
<div class="container">
    <div class="row">
        <div class="col-lg-3" style="background-color: white;">
            <center>
                <img src="{{ asset('bundles/gsb/images/logo.jpg') }}" class="img-responsive img-circle">
            </center>
        </div>
        <div class="col-lg-6 text-center" style="height: 122px; background-color: white;">
            {{ render(controller('FOSUserBundle:Security:Login', {'isLongTemplate': false })) }}
        </div>
        <div class="col-lg-3" style="height: 122px; background-color: white;">
            <div class="pull-right text-right" style="padding-top: 15px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {# {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} #}
                    {{ app.user.username }}
                    <a href="{{ path('fos_user_security_logout') }}" style="text-decoration: none;">
                        <i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    <br>
                {% endif %}
                Nous somme le {{ "now"|date("d/m/Y") }}<br>
                Il est {{ "now"|date("h:i:s") }}
            </div>
        </div>
        <span class="clearfix"></span>
        <hr>
        <div class="col-lg-2 bg-info">
            <nav>
                <h3>Gsb</h3>
                <a href="{{ path('accueil') }}" {% if app.request.attributes.get('_route') ==  'accueil' %}class="perso-nav-select"{% endif %}><i class="fa fa-home"></i> Accueil</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_profile_show') }}" {% if app.request.attributes.get('_route') ==  'fos_user_profile_show' %}class="perso-nav-select"{% endif %}><i class="fa fa-user"></i> Votre profil</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" {% if app.request.attributes.get('_route') ==  'fos_user_registration_register' %}class="perso-nav-select"{% endif %}><i class="fa fa-pencil"></i> Inscription</a>
                {% endif %}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and not is_granted("ROLE_ADMIN") and not is_granted("ROLE_COMPTABLE") %}
                    <h3>Votre suivi</h3>
                    <a href="{{ path('saisie_fiche') }}" {% if app.request.attributes.get('_route') ==  'saisie_fiche' %}class="perso-nav-select"{% endif %}><i class="fa fa-pencil-square-o"></i> Saisie fiche de frais</a>
                    <a href="{{ path('consulter_fiche') }}" {% if app.request.attributes.get('_route') ==  'consulter_fiche' %}class="perso-nav-select"{% endif %}><i class="fa fa-list"></i> Mes fiches de frais</a>
                {% endif %}

                {% if is_granted('ROLE_COMPTABLE') %}
                    <h3>Comptabilité</h3>
                    <a href="{{ path('gsb_compta_accueil') }}"><i class="fa fa-money"></i> Infos comptabilité</a>
                    <a href="{{ path('gsb_compta_cloture') }}"><i class="fa fa-times"></i> Cloturation mensuelle</a>
                    <a href="{{ path('gsb_compta_afficher') }}"><i class="fa fa-search"></i> Rechercher une fiche </a>
                    <a href="{{ path('gsb_compta_ficheTraiter') }}"><i class="fa fa-list"></i> Fiches à traiter</a>
                    <a href="{{ path('gsb_compta_fichePayer') }}"><i class="fa fa-list"></i> Fiches à payer</a>
                    <a href="{{ path('gsb_compta_ficheSuspendue') }}"><i class="fa fa-list"></i> Fiches suspendues</a>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <h3>Administration</h3>
                    <a href="{{ path('gsb_admin_accueil') }}"><i class="fa fa-group"></i> les utilisateurs</a>
                {% endif %}
            </nav>
        </div>
        <div class="col-lg-9 col-lg-offset-1 contenu" style="background-color: white;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/gsb/js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gsb/bootstrap/js/bootstrap.min.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>