{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% else %}
        <form action="{{ path("fos_user_security_check") }}" method="post" style="width: 550px; background-color: white; border-radius:20px; padding: 15px; text-align: center; margin-left: 30px; margin-top: 15px;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
            <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}" required="required" />

            {# <label for="password">{{ 'security.login.password'|trans }}</label> #}
            <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />
            <button class="btn btn-info btn-sm" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">ok</button>

            <br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            - <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            <br>
        </form>
    {% endif %}
</div>


