{% extends "Gsb/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <h1>Un mail vous a été envoyé</h1>
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
</p>
{% endblock %}
