{% extends 'Gsb/layout.html.twig' %}

{% block content %}
<h1>Espace comptabilité</h1><hr>
    <p>
        Benvenue sur votre espace comptabilité, cette page n'est accéssible qu'aux comptables de l'entreprise.
    </p>
    <p>
        Cette page permet aux comptables de l'entreprise d'administrer les frais qu'on été renseignés au préalable par les salariés de l'entreprise.<br>
        Les Fiches sont cloturées et non modifiables à partir du 1er jour du mois suivant.<br>
        Le comptable peut accéder aux fiches cloturées directement par la page "Fiche à traiter", il les passe à l'état "Validée et mise en paiement", le fiches sont alors accéssible dans la page "Fiche à payer"
        le comptable peut donc procéder au paiement des fiches traitées et change l'etat de la fiche en "Fiche de frais Payée"<br>
        Il est fréquent qu'un utilisateur face une erreur dans ses frais forfaits ou hors-forfaits, la fiche est donc passée au statut "Paiement suspendu" par le comptable, le comptable essaye donc de
        contacter le salarié et celui-ci est notifié par une alerte sur son espace en ligne GSB.
    </p>
    <h3>Cette accès donne droit aux pages suivantes</h3>
    <ul>
        <li>"Espace comptabilité" = Informations concernant la comptabilité en cours, aide concernant l'espace comptabilité</li>
        <li>"Cloturation mensuelle" = Vous permet de cloturer les fiches non cloturées du mois précédent</li>
        <li>"Rechercher une fiche" = Cette page vous permet de rechercher une fiche et de l'administrer</li>
        <li>"Fiche à traiter" = Cette page contient les fiches dont la saisie est cloturée afin de les traiter</li>
        <li>"Fiche à payer" = Permet de lister les fiches validées et en attente de paiement afin d'effectuer le paiement de celles-ci</li>
        <li>"Fiche suspendues" = Liste les fiches suspendues en attente du retour de l'utilisateur et afin de les administrer facilement</li>
    </ul>
{% endblock %}