{% extends 'Gsb/layout.html.twig' %}

{% block content %}
    <h1>Administrer une fiche de frais</h1>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    {% if ficheF.idVisiteur.username is defined %}
        <h3>Fiche de {{ ficheF.idVisiteur.username }} en date du {{ ficheF.mois }}</h3>
    {% endif %}
    {% if ficheF is defined and ficheF is not null %}
        <hr>
        {{ form_start(formFiche) }}
        <table id="ficheF" class="table-tarifs table-bordered table-striped">
            <tr>
                <th>Date</th>
                <th>Nombre de justificatifs</th>
                <th>Montant validé / à valider (prérempli)</th>
                <th>Dernière modification</th>
                <th>Etat</th>
            </tr>
            <tr>
                <td>{{ ficheF.mois }}</td>
                <td>{{ ficheF.nbJustificatifs }}</td>
                <td>{{ form_widget(formFiche.montantValide, {'attr':{'value': totalFrais} }) }}</td>
                <td>{{ ficheF.dateModif|date('d M Y') }} à {{ ficheF.dateModif|date('m:s') }}</td>
                <td>{{ form_widget(formFiche.idEtat) }}</td>
            </tr>
        </table>
        <br>
        {{ form_widget(formFiche.Valider) }}
        <span class="clearfix"></span>
        {{ form_end(formFiche) }}
    {% endif %}
    {% if ligneFf is defined and ligneFf|length > 0 %}
        <hr>
        <table id="ligneFf" class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Forfait Etape</th>
                <th>Frais Kilometrique</th>
                <th>Nuitée Hôtel</th>
                <th>Repas Restaurant</th>
            </tr>
            <tr>
                {% for ligne in ligneFf %}
                    <td>{{ ligne.quantite }} {{ ligne.idFraisForfait.libelle }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for montant in tabMontantForfait %}
                    <td>total: {{ montant }} €</td>
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Frais forfait total: <strong>{{ totalForfait }} €</strong></td>
            </tr>
        </table>
    {% endif %}
    {% if ligneFhf is defined and ligneFhf|length > 0 %}
        <hr>
        <table id="ligneFhf" class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant en €</th>
                <th>Reporter</th>
                <th>Valider</th>
                <th>Refuser</th>
            </tr>
            {% for ligne in ligneFhf %}
                    <tr>
                        <td>{{ ligne.date|date("d M Y") }}</td>
                        <td>{{ ligne.libelle }}</td>
                        <td>{{ ligne.montant }}</td>
                        <td>
                            <form method="post" action="{{ path('gsb_compta_administrer', {'fiche': ficheF.id}) }}" name="reporter_hors_forfait">
                                <input type="hidden" name="reporter_hors_forfait" value="{{ ligne.id }}">
                                <button class="btn btn-info">Reporter</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ path('gsb_compta_administrer', {'fiche': ficheF.id}) }}" name="accepter_hors_forfait">
                                <input type="hidden" name="accepter_hors_forfait" value="{{ ligne.id }}">
                                <button class="btn btn-success {% if ligne.refuser == 0 %}disabled{% endif %}">Accepter</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ path('gsb_compta_administrer', {'fiche': ficheF.id}) }}" name="refuser_hors_forfait">
                                <input type="hidden" name="refuser_hors_forfait" value="{{ ligne.id }}">
                                <button class="btn btn-danger {% if ligne.refuser == 1 %}disabled{% endif %}">Refuser</button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td> Frais hors forfait total: <strong>{{ totalHorsForfait }} €</strong></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}