{% extends "Gsb/layout.html.twig" %}

{% block content %}
    <h1>Administrer une fiche de frais</h1>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {{ form_row(form.User, { 'date': 'test' }) }}
    {{ form_row(form.Fiche) }}
    {{ form_row(form.Afficher) }}
    {{ form_end(form) }}
    {% if ficheF.idVisiteur.username is defined %}
        <hr>
        <h3>Fiche de {{ ficheF.idVisiteur.username }} en date du {{ ficheF.mois }}</h3>
        <button class="btn btn-info pull-right"
                onclick="window.location.href='{{ path('gsb_compta_administrer',{'fiche':ficheF.id}) }}'">Administrer
            cette fiche
        </button>
        <input type="hidden" value="{{ ficheF.id }}">
        <button class="btn btn-warning pull-right" id="pdf" data-idFiche="{{ ficheF.id }}" data-idUser="{{ ficheF.idVisiteur.id }}" style="margin-right: 30px;">
            Télécharger le pdf
        </button>
        <span class="clearfix"></span>
    {% endif %}
    {% if ficheF is defined and ficheF is not null %}
        <hr>
        <table id="ficheF" class="table-tarifs table-bordered table-striped">
            <tr>
                <th>Date</th>
                <th>Nombre de justificatifs</th>
                <th>Montant Validé</th>
                <th>Dernière modification</th>
                <th>Etat</th>
            </tr>
            <tr>
                <td>{{ ficheF.mois }}</td>
                <td>{{ ficheF.nbJustificatifs }}</td>
                <td>{{ ficheF.montantValide }}</td>
                <td>{{ ficheF.dateModif|date('d M Y') }} à {{ ficheF.dateModif|date('m:s') }}</td>
                <td>{{ ficheF.idEtat.libelle }}</td>
            </tr>
        </table>
        <br>
    {% endif %}
    {% if ligneFf is defined and ligneFf|length > 0 %}
        <hr>
        <table id="ligneFf" class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Forfait Etape</th>
                <th>Frais Kilometrique</th>
                <th>Nuitée Hôtel</th>
                <th>Repas Restaurant</th>
            </tr>
            <tr>
                {% for ligne in ligneFf %}
                    <td>{{ ligne.quantite }} {{ ligne.idFraisForfait.libelle }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    {% if ligneFhf is defined and ligneFhf|length > 0 %}
        <hr>
        <table id="ligneFhf" class="table-bordered table-tarifs table-striped ">
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant en €</th>
            </tr>
            {% for ligne in ligneFhf %}
                <tr>
                    <td>{{ ligne.date|date("d M Y") }}</td>
                    <td>{{ ligne.libelle }}</td>
                    <td>{{ ligne.montant }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascript %}

    <script>
        var $user = $('#compta_consulter_User');
        var $fiche = $('#compta_consulter_Fiche');
        $user.change(function () {
            showChangeFiche()
        });
        {% if ficheF is not defined or ficheF is null %}
        showOnLoadFiche();
        {% endif %}
        function showChangeFiche() {
            var $form = $(this).closest('form');
            var data = {};
            data[$user.attr('name')] = $user.val();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#compta_consulter_Fiche').replaceWith(
                            $(html).find('#compta_consulter_Fiche')
                    );
                }
            })
        }

        function showOnLoadFiche() {
            var $form = $(this).closest('form');
            var data = {};
            data[$user.attr('name')] = $user.val();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#compta_consulter_Fiche').replaceWith(
                            $(html).find('#compta_consulter_Fiche')
                    );
                }
            })
        }

        {% if ficheF is defined and ficheF is not null %}
        function selectionOptions() {
            $user.val('{{ ficheF.idVisiteur.id }}')
            $fiche.val('{{ ficheF.mois }}')
        }


        $(document).ready(function () {
            selectionOptions();


            $('#pdf').on('click', function () {
                var idFiche = $(this).attr('data-idFiche');
                createPdf(idFiche);
            });

        });

        function createPdf(idFiche) {
            $.ajax({
                url: '{{ path('gsb_compta_afficher') }}',
                type: 'POST',
                data: {createPdf: true, idFiche: idFiche},
                success: function (data) {
                    var route = "/gsb/bundles/gsb/pdf/"+data;
                    window.open(route);
                }
            })
        }
        {% endif %}
    </script>

{% endblock %}
