{% extends "Gsb/layout.html.twig" %}

{% block content %}

    <h1>Ajouter un frais forfait</h1>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}

{% endblock %}