{% extends "Gsb/layout.html.twig" %}

{% block content %}

    <h1>Cloturation du mois précédent</h1>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}

    <p>
        Vous êtes sur le point de clôturer ou d'annuler la cloture des fiches des salariés du mois <strong>{{ date }}</strong>.
    </p>
    <form name="validation" method="post">
        {% if list|length < 1  %}
            <div class="alert alert-info">Aucune Fiche n'est à cloturer pour le mois précédent</div>
        {% elseif list|length > 0 and cloture == 0  %}
            <div class="alert alert-info">Les fiches du mois précédent ne sont pas encore cloturées vous pouvez le faire immédiatement</div>
            <center><button class="btn btn-block btn-info" name="cloture" value="valider">CLOTURER LES FICHES</button></center>
        {% elseif list|length > 0 and cloture == 1 %}
            <div class="alert alert-info">Cloture déjà effectuée vous pouvez toujours annuler la cloture des fiches</div>
            <center><button class="btn btn-block btn-danger" name="cloture" value="annuler">ANNULER LA CLOTURE DES FICHES</button></center>
        {% endif %}
    </form>


{% endblock %}