{% extends "Gsb/layout.html.twig" %}

{% block content %}

    <h1>Fiches suspendues</h1>
    <hr>
    {% if list|length > 0 %}
        <table class="table-bordered table-tarifs table-striped">
            <tr>
                <th>Mois</th>
                <th>Nom du salarié</th>
                <th>Nombre de justificatifs</th>
                <th>Derniere modification</th>
                <th>Etat</th>
                <th>Administrer</th>
            </tr>
            {% for ligne in list %}
                <tr>
                    <td>{{ ligne.mois }}</td>
                    <td>{{ ligne.idVisiteur.username }}</td>
                    <td>{{ ligne.nbJustificatifs }}</td>
                    <td>{{ ligne.dateModif|date('D d M Y')}}</td>
                    <td>{{ ligne.idEtat.libelle }}</td>
                    <td><button onclick="location.href='{{ path('gsb_compta_administrer', {'fiche': ligne.id}) }}'" class="btn btn-info" formtarget="_blank">Administrer</button></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> Aucune fiche n'est suspendue pour le moment</div>
    {% endif %}

{% endblock %}