{% extends "Gsb/layout.html.twig" %}

{% block content %}

    <h1>Fiche à payer</h1>
    <hr>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ flashMessage }}
            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    {% if list|length > 0 %}
        <table class="table-bordered table-tarifs table-striped">
            <tr>
                <th>Mois</th>
                <th>Salarié</th>
                <th>Montant</th>
                <th>Derniere modif</th>
                <th>Etat</th>
                <th>Administrer</th>
                <th>Payer</th>
            </tr>
            {% for ligne in list %}
                <tr>
                    <td>{{ ligne.mois }}</td>
                    <td>{{ ligne.idVisiteur.username }}</td>
                    <td>{{ ligne.montantValide }} €</td>
                    <td>{{ ligne.dateModif|date('D d M Y')}}</td>
                    <td>{{ ligne.idEtat.libelle }}</td>
                    <td><button onclick="location.href='{{ path('gsb_compta_administrer', {'fiche': ligne.id}) }}'" class="btn btn-info" formtarget="_blank">Administrer</button></td>
                    <td><form method="post" name="payer"><button onclick="location.href='#'" class="btn btn-success" name="payer" value="{{ ligne.id }}">Payer</button></form></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> Aucune fiche n'est à payer</div>
    {% endif %}

{% endblock %}