html{
    min-height: 100%;
    background-color: #006699;
}

body{
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color:white;
}

.contenu {
    padding-bottom: 10px;
}

nav {
    margin-bottom: 5px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #FFFFFF;
}

nav a:hover {
    background-color: #006699;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
    color: white;
    background-color: #006699;
}

.perso-nav-select {
    background-color: #006699;
    color: #FFFFFF;
    text-decoration: none;
}

/* PERSO */

.perso-navbar li a{
    font-size: 17px;
    height: 55px;
    margin-right:30px; margin-left: 30px;
}

.perso-navbar li a:hover{
    background-color: #006699;
}

#navbar-section {
    background-color: #006699;
    border-top: 1px solid #191919;
}

#navbar-section a {
    color: white;
}
/* NAVBAR MEMBRE */

.div-nav-membre {
    background-color: #006699;
    border-top: 1px solid #191919;
    width: 100%;
    height: 51px;
}
.div-nav-membre a {
    display: inline-block;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
.div-nav-membre a:hover {
    background-color: #191919;
    color: white;
    text-decoration: none;
;
}



.perso-padding{
    padding: 15px;
}

.perso-radius{
    border-radius:20px;
}

.perso-opac{
    background-image: url("../images/opac.png");
    background-size: 100% 100%;
}

.h3-presentation{
    color: #006699;
}

/* CAROUSEL */
.carousel-caption {
    margin-right: 100px;
    margin-left:100px;
    margin-bottom: 30px;
}

.carousel {
    border-top:2px solid #006699;
    background-color: #006699;
    max-height: 400px;
}

.carousel img {
    width: 100%;
    max-height: 400px;
}
.item {
    width: 100%;
    max-height: 400px;
}



/* FOOTER */

.footer {
    color: #dddddd;
    background-color: #191919;
    width:100%;
}

.footer a:hover {
    color: #00a3ec;
}

.copyright{
    background-color: #006699;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.copyright-text{
    padding-top: 15px;
}

/* SERVICES */

.service-global{
    background-color: #FFF;
    border-radius:20px 20px 0 0;
    margin-top: -20px;
}

.service h4{
    color: #006699;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service{
    min-height: 390px;
    background-color: white;
    margin-top:30px;
    margin-bottom:30px;
    border: 1px solid #e7e7e7;
}

.service-info{
    background-color: white;
    margin-bottom:30px;
    border: 1px solid #e7e7e7;
    min-height:250px;
}

.service-info h4{
    color: #006699;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-info p {
    min-height:140px;
}


.service ul {
    list-style-type: circle;
}

.service img {
    width: 150px;
}

.back-container{
    background-color: #f8f8f8;
}

.projet{
    border-radius:5px;
    margin-bottom:20px;
    border: 1px solid #a3e4ff;
    background-color: #ebfcff;
}

.table-tarifs{
    width: 100%;
    background-color: #ebfcff;
}
.table-tarifs td{
    padding:10px;
}
.table-tarifs th{
    padding: 10px;
}